body{
	background: #f2f5f7;
	color: #333333;
	font-family: 'Muli', sans-serif;
	overflow-x: hidden;

}

header{
	padding: 20px 35px 10px 35px ;
	background: #fff;

}

input{
	border:none;
}

input:focus,
input:active,
input:hover{
	
	box-shadow: none;
	outline: none;
}

.btn-group-fix{
	vertical-align: 0 !important;
}

.dropdown_button{
	background: transparent;
	border: none;
	box-shadow: none;
	color:#8f8888;
	font-size: 14px;
	letter-spacing: 0.5px;
	border-right: 1px solid #e4e4e4;
	border-radius: 0;
}

.dropdown_button:hover,
.dropdown_button:focus,
.dropdown_button:active,
.dropdown_button:link{
	background: transparent !important;
	border-right: 1px solid #cac1c1;
	box-shadow: none;
	color: #727272;

}

.dropdown_caret{
	margin:0 25px 0 10px;
	font-size: 9px;
}

.search_placeholder{
	font-size: 14px;
	letter-spacing: 0.6px;
	color: #8f8888;
}

.search_container{
	padding-top:  6px;
	color: #8f8888;
}

.search_container>div{
	display: inline-block;
}

.search_icon{
	padding-right: 15px;
}

.title{
	margin-top:0;
	margin-bottom:0;
	color: #727272;
}


.profile_image{
	border-radius: 50px;
	width: 35px;
	height:35px;
	background: #e4e4e4;
	position: relative;
	margin-right: 20px;
}

.image_badge{
	position: absolute;
	right: 0;
	border-radius: 50px; 
}

.dropdown_button1{
	border-left: 1px solid #e4e4e4;
	border-right:  none;
	padding-left: 20px;
}

.dropdown_button1:hover,
.dropdown_button1:active,
.dropdown_button1:focus{
	border-left: 1px solid #e4e4e4;
	
}
.dropdown_button1:hover,
.dropdown_button1:active,
.dropdown_button1:focus{
	border-right:  none;
}


.menu_container{
	position: relative;
    top: -4px
}

.menu_container>div{
	display: inline-block;
}

/*carousel*/
.carousel-inner.onebyone-carosel {margin: auto;width: 100%;height: 321px;}
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

.carousel_container{
	padding:0;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	/*background: #fff;*/
}

.carousel_control1{
	border-radius: 50px;
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -50px;
    left: 50px;
    background-image: none !important;
    opacity: 1 !important;
    line-height: 46px;
    	 box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);	

}

.carousel_control2{	
    right: 50px !important;
    left: 0;
    	 box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);	

}

.heading{
	font-size: 18px;
	color:#5d5a5a;
	margin-bottom: 20px;
	font-weight: 800;
}

.heading3{
	    margin-top: 40px;
}

.collection{
	margin-top: 100px;
	padding: 70px;
}

.titlebar{
	/*padding: 0 50px;*/
	border-bottom: 1px solid #dbdbdb;
	overflow: auto;
}
/*carousel ends*/

.circular{
	width: 35px;
	height: 35px;
	border-radius: 50px;
	background: #fff;
	 box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);	
}

.name{
	position: relative;
	top:-11px;
	margin-left: 20px;
}

.authors{
	margin: 10px 0;
}

.authors>*{
	display: inline-block;
}

/*card*/
.card_container{
	padding: 20px;
	margin: 40px 0;
}

.card{
	width: 100%;
	padding: 10px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.img_card{
	box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 200px;
	position: relative;
	top: -48px;
	left: 15px;
	background: #fff;
}

.img_card:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	top:-55px;
	left: 22px;

}

.card_heading{
	font-weight: 800;
	color: #727272;
	margin-top: 28px;
}


.card_subheading{
	color: #727272;
	font-size: 11px;
}

.card_footer{
	border-top: 1px solid #e4e4e4;
	height: 35px;
}

/*5 star rating*/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;

}

.rating1{
	margin-top: 10px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 0.6em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
/*5 star rating*/

.blockquote{
	font-size: 10px;
	color: #727272;
	position: relative;
	top:5px;
	float: left;
}

.sample_text{
	margin-top: 40px; 
	font-size: 12px;
	color: #727272;
	letter-spacing: 0.8px;
}

.circular_like{
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 2px 5px rgba(0,0,0,0.22);	
	margin-right: 2px;
	display: inline-block;
}

.like_text{
	display: inline-block;
	font-size: 11px;
	line-height: 5;
	position: relative;
    top: -4px;
    margin-left: 5px;
}

.rectangular{
	width: 45px;
	height: 60px;
	background: #fff;
}

.tiles_container{
	background: #fbadaf;
	display: inline-block;
	width: 100%;
	border-left: 1px solid #f2f5f7;
	border-right: 1px solid #f2f5f7;
	/*height: 100%;*/
}

.padding-fix{
	padding: 0 !important;
}

.purple{
	background: #ecb8d5;
}

.blue{
	background: #a2deea;
}

.img_card1{
	box-shadow: 0 2px 20px rgba(0,0,0,0.15), 0 5px 05px rgba(0,0,0,0.12);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	height: 280px;
	position: relative;
	top: 31px;
	left: 15px;
	background: #fff;
}

.textwhite{
	color: #fff;
}

.btn_white{
	border-radius: 50px;
	width: 70%;
	background: #fff;
	color: #92566E;
	margin: 30px;
	font-weight: 800;
	box-shadow: 0 12px 28px rgba(146,86,110,0.25), 0 5px 10px rgba(146,86,110,0.12);
}